# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.BattleshipProgramm.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Downloads\Telegram Desktop\battleship-labs-main (3)\.idea\.idea.BattleshipProgramm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
